body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    color: #fff;
    background: #121212;
    display: flex;
  }
  
  .sidebar {
    width: min-content;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  }
  
  .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .row > .col-md-6 {
  margin-bottom: 20px;
  }

  @media (max-width: 576px) { /* Apply styles for phones */
    .sidebar h1.d-sm-none, .sidebar p.d-sm-none {
      display: none; /* Hide name and job title on phones */
    }
  }